{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Atención</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="container">
        <h1>Atención</h1>
        <form method="post">
            {% csrf_token %}
            <div class="details">
                <label for="medico"><span>Kinesiólogo:</span></label>
                <input type="text" id="medico" name="medico" value="{{ atencion.medico }}" required>
                <label for="paciente"><span>Deportista:</span></label>
                <input type="text" id="paciente" name="paciente" value="{{ atencion.paciente }}" required>
                <label for="fecha_atencion"><span>Fecha de atención:</span></label>
                <input type="date" id="fecha_atencion" name="fecha_atencion" value="{{ atencion.fecha_atencion }}" required>
                <label for="diagnostico"><span>Diagnóstico:</span></label>
                <textarea id="diagnostico" name="diagnostico" required>{{ atencion.diagnostico }}</textarea>
                <label for="tratamiento"><span>Tratamiento:</span></label>
                <textarea id="tratamiento" name="tratamiento" required>{{ atencion.tratamiento }}</textarea>
            </div>
            <div class="back-button">
                <input type="submit" value="Guardar">
            </div>
        </form>
        <div class="back-button">
            <a href="/">Volver al Menú</a>
        </div>
    </div>
</body>
</html>
