{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Deportista</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Deportista</h1>
        <h1>{{ deportista.nombre }}</h1>
        <div class="details">
            <p><span>Nombre:</span> {{ deportista.nombre }}</p>
            <p><span>Edad:</span> {{ deportista.edad }}</p>
            <p><span>Género:</span> {{ deportista.get_genero_display }}</p>
            <p><span>Deporte:</span> {{ deportista.deporte }}</p>
            <p><span>Dirección:</span> {{ deportista.direccion }}</p>
            <p><span>Teléfono:</span> {{ deportista.telefono }}</p>
            <p><span>Email:</span> {{ deportista.email }}</p>
        </div>
        <div class="back-button">
            <a href="/">Volver al Menú</a>
        </div>
    </div>
</body>
</html>
