{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ kinesiologo.nombre }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Kinesiólogo</h1>
        <div class="details">
            <p><span>Nombre:</span> {{ kinesiologo.nombre }}</p>
            <p><span>Especialidad:</span> {{ kinesiologo.especialidad }}</p>
            <p><span>Dirección:</span> {{ kinesiologo.direccion }}</p>
            <p><span>Teléfono:</span> {{ kinesiologo.telefono }}</p>
        </div>
        <div class="back-button">
            <a href="/">Volver al Menú</a>
        </div>
    </div>
</body>
</html>

